@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: "Symbols Nerd Font";
	src: url("./fonts/SymbolsNerdFont-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Symbols Nerd Font Mono";
	src: url("./fonts/SymbolsNerdFontMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	/* Change font family*/
	--font-text-theme:
		"Noto Sans", "Noto Sans Thai", "Symbols Nerd Font", sans-serif;
	--font-interface-theme:
		"Noto Sans", "Noto Sans Thai", "Symbols Nerd Font", sans-serif;
	--font-monospace-theme:
		"JetBrains Mono", "Noto Sans Thai", "Symbols Nerd Font Mono", monospace;
}

.theme-dark {
	--accent-h: 267deg;
	--accent-s: 83%;
	--accent-l: 80%;
}
